.table-set-width td, .table th {
    max-width: 500px !important;
    word-break: break-word;
}
.table td, .table th {
    min-width: 300px;
    max-width: 500px;
    word-break: break-word;
    background-color: #eeeeee;
}

.table {
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}
.table th {
    background-color: #8c8c8c;
}
.float-right {
    float: right;
}

td .row-style, th .table-style {
    min-width: 300px;
    white-space: nowrap;
    overflow: hidden; 
    max-width: 500px;
}