<div class="container">
   
    <h1>CSV File Reader</h1> 
    <div class="row">
    <input type="text" [(ngModel)] = "startDeviceId"  class="form-control col-md-3" style="margin: 10px;" placeholder="Enter starting device id">
    <input type="text" [(ngModel)] = "endDeviceId"  class="form-control col-md-3" style="margin: 10px;" placeholder="Enter ending device id">

    <!-- <td style="padding: 5px;">
        <button class="btn btn-primary" (click)="getData($event)">Download New File</button> 
    </td> -->
    <!-- <td style="padding: 5px;">                 -->
    <button class="btn btn-primary col-md-2" style="margin: 10px;" [disabled] = "disableDownload" (click)="repeat2()">Read Files</button>
    <!-- </td>           -->
    <div [hidden]="!downloadingFile" class="col-md-3 text-danger">File downloading. Please wait...
        <span class="spinner-border text-danger set-position"></span>
    </div>

   </div>
            
    
    <div>
            <div *ngIf="showProcessingMessage" class="text-danger" style="position: relative; bottom: 10px;">Removing old files from the system. Please wait...
                <span class="spinner-border text-danger"></span>
            </div>
            <div *ngIf="resumeDownload" class="text-danger">Old files removed successfully. Click on Read Files button to download new files.</div>
        <table class="table table-responsive table-hover table-set-width" border="1">
            <thead>
                <th class="table-style" *ngFor="let header of tableHeader">
                        {{header}}
                </th>
               
            </thead>
            <tbody>
                <ng-container *ngFor="let data of arrayToDisplay;let i = index">
                    <tr >
                        <td [style.background-color]="data.deviceId ? '#eeeeee' : 'red'" >{{data.deviceId}}</td>
                        <td [style.background-color]="data.A6 ? '#eeeeee' : 'red'" >{{data.A6}}</td>
                        <td [style.background-color]="data.ccid ? '#eeeeee' : 'red'" >{{data.ccid}}</td>
                        <td [style.background-color]="data.imei ? '#eeeeee' : 'red'" >{{data.imei}}</td>
                        <td [style.background-color]="data.A4 ? '#eeeeee' : 'red'" >{{data.A4}}</td>
                        <td [style.background-color]="data.battery ? '#eeeeee' : 'red'" >{{data.battery}}</td>
                        <td [style.background-color]="data.lat ? '#eeeeee' : 'red'" >{{data.lat}}</td>
                        <td [style.background-color]="data.long ? '#eeeeee' : 'red'" >{{data.long}}</td>
                        <td [style.background-color]="data.A1 ? '#eeeeee' : 'red'" >{{data.A1}}</td>
                        <td [style.background-color]="data.pv ? '#eeeeee' : 'red'" >{{data.pv}}</td>
                        <td [style.background-color]="data.swv ? '#eeeeee' : 'red'" >{{data.swv}}</td>
                        <td [style.background-color]="data.hwv ? '#eeeeee' : 'red'" >{{data.hwv}}</td>
                        <td *ngFor= "let tempData of data.temp">{{tempData.temp}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div><input type="button" name="Print" id="txtFileReset" class="btn btn-primary float-right" (click)="printAllData()" value="Print"/></div>

</div>
